* {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f3d0d0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
}


h1 {
    color: #33000D;
    font-size: 7rem;
    font-style: bold;
}

h3 {
    color: #33000D;
}

h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    color: #33000D;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}


.home-wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.home-title {
    display: flex;
    top: -10%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    border-radius: 14px;
    justify-content: center;
}

.home-item {
    border-radius: 14px;
    display: flex;
    overflow: hidden;

}

.home-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.info-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
} 

.about-container, .types-container, .benefits-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.carosel-container {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

.background_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.45;
    z-index: -1; 
}

.slides.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.slides.fade.active {
    opacity: 1;
}
  
@keyframes changeSlide {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}


.card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 2px solid #C20030;
    border-radius: 14px;
}
  
.card a {
    text-decoration: none
}

.content {
    padding: 1.1rem;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: rgb(239, 205, 255);
    border-bottom: 2px solid #cd7b8f;
    border-radius: 14px;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #C20030;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: .3s ease;
}

.action:hover span {
    transform: translateX(4px);
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #33000D;
    border: 2px solid #33000D;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}
  
.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #33000D;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #eeacac;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
    scale: 1;
}


footer {
    margin-top: 30px;
    padding: 5px;
    background-color: #33000D;
    color: #fff;
    display: block;
    position: relative;
    bottom: 0;
    margin-top: auto;
}


  
@media screen and (max-width: 768px){
    .info-container {
        margin-top: 100px;
        margin-bottom: 100px;
        height: 150vh;
        width: 100%;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .home-image-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    
    .home-title {
        display: flex;
        top: -10%;
        position: relative;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .home-image-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 10rem;
        grid-template-rows: 15rem;
        border-radius: 14px;
        justify-content: center;
    }
}

@media screen and (max-height: 600px){
    .info-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .home-image-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }

    
    .home-title {
        display: flex;
        top: -10%;
        position: relative;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .home-image-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 10rem 10rem 10rem 10rem;
        grid-template-rows: 10rem;
        border-radius: 14px;
        justify-content: center;
    }
}
